In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

In [13]:
spotify_data = pd.read_csv('SpotifyFeatures.csv')

In [14]:
def get_feature_list(data):
    columns = ['track_id',
             'acousticness',
             'danceability',
             'duration_ms',
             'energy',
             'instrumentalness',
             'liveness',
             'loudness',
             'speechiness',
             'tempo',
             'valence']
    spotify_features_df = data[columns]

    scaled_features = MinMaxScaler().fit_transform([
    spotify_features_df['acousticness'].values,
    spotify_features_df['danceability'].values,
    spotify_features_df['duration_ms'].values,
    spotify_features_df['energy'].values,
    spotify_features_df['instrumentalness'].values,
    spotify_features_df['liveness'].values,
    spotify_features_df['loudness'].values,
    spotify_features_df['speechiness'].values,
    spotify_features_df['tempo'].values,
    spotify_features_df['valence'].values,
    ])

    spotify_features_df[['acousticness','danceability','duration_ms','energy','instrumentalness','liveness','loudness','speechiness','tempo','valence']] = scaled_features.T
    return spotify_features_df

In [15]:
get_feature_list(spotify_data)

,track_id,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
0,0BRjO6ga9RKCKjfDqeFgWV,0.000025,0.000022,1.0,0.000028,0.000018,0.000022,0.0,0.000019,0.001699,0.000027
1,0BjC1NfoEOOusryehmNudP,0.000042,0.000045,1.0,0.000046,0.000040,0.000042,0.0,0.000041,0.001307,0.000046
2,0CoSDzoNIKCRs124s9uTVy,0.000087,0.000085,1.0,0.000082,0.000082,0.000082,0.0,0.000082,0.000666,0.000084
3,0Gc6TVm52BwZD07Ki6tIvf,0.000084,0.000081,1.0,0.000082,0.000080,0.000081,0.0,0.000080,0.001207,0.000081
4,0IuslXpMROHdEPvSl1fTQK,0.000267,0.000260,1.0,0.000259,0.000257,0.000258,0.0,0.000256,0.001957,0.000261
...,...,...,...,...,...,...,...,...,...,...,...
232720,2XGLdVl7lGeq8ksM6Al7jT,0.000033,0.000035,1.0,0.000035,0.000034,0.000033,0.0,0.000033,0.000387,0.000036
232721,1qWZdkBl4UVPj9lK6HuuFM,0.000025,0.000027,1.0,0.000027,0.000025,0.000025,0.0,0.000025,0.000428,0.000028
232722,2ziWXUmQLrXTiYjCg2fZ2t,0.000055,0.000053,1.0,0.000052,0.000050,0.000050,0.0,0.000050,0.000554,0.000054
232723,6EFsue2YbIG4Qkq8Zr9Rir,0.000033,0.000035,1.0,0.000035,0.000032,0.000034,0.0,0.000033,0.000482,0.000034
232724,34XO9RwPMKjbvRry54QzWn,0.000021,0.000023,1.0,0.000022,0.000021,0.000021,0.0,0.000021,0.000373,0.000022

## Using Spotify API

In [31]:
from test import get_user

# top_songs = get_top_songs('jpamukci')

In [23]:
# character_playlists = {
#  'Rachel Green':'0funm4t6nxfoLcZ3sG7dvw',
#  }

# for key, value in character_playlists.items():
#     char_df = get_playlist(value)
#     char_df = get_feature_list(char_df)
#     char_df.to_csv(f'./character_datasets/{key.replace(" ", "_")}.csv')

In [18]:
import os
import pandas as pd
from consolidated_feature_vector import consolidate_features

directory_path = './character_datasets'
consolidated_character_vectors = []

for filename in os.listdir(directory_path):
    file_path = os.path.join(directory_path, filename)
    char_df = pd.read_csv(file_path)
    consolidated = consolidate_features(char_df)
    consolidated['Character'] = filename.replace("_", " ").replace(".csv", "")
    consolidated_character_vectors.append(consolidated)

/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()
/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()

In [37]:
consolidate_characters = pd.DataFrame(consolidated_character_vectors).iloc[:, 1:]

In [26]:
jay_music = get_user('jay.sakarvadia')

In [33]:
from preprocessing import get_feature_list

jay_music_consolidated = consolidate_features(get_feature_list(jay_music))

/Users/jay/cdc2023/preprocessing.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jay/cdc2023/consolidated_feature_vector.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  consolidated_feature_vector = spotify_features_df.mean()

In [34]:
jay_music_consolidated

acousticness        0.000030
danceability        0.000033
duration_ms         1.000000
energy              0.000033
instrumentalness    0.000030
liveness            0.000030
loudness            0.000000
speechiness         0.000030
tempo               0.000644
valence             0.000032
dtype: float64

In [38]:
consolidate_characters.iloc[:, :-1]

    acousticness  danceability  duration_ms  ...  speechiness     tempo   valence
0       0.000039      0.000039          1.0  ...     0.000037  0.000576  0.000039
1       0.000042      0.000043          1.0  ...     0.000040  0.000590  0.000042
2       0.000051      0.000050          1.0  ...     0.000048  0.000580  0.000049
3       0.000035      0.000036          1.0  ...     0.000034  0.000478  0.000035
4       0.000038      0.000040          1.0  ...     0.000038  0.000678  0.000040
5       0.000028      0.000030          1.0  ...     0.000028  0.000702  0.000030
6       0.000046      0.000047          1.0  ...     0.000045  0.000704  0.000047
7       0.000037      0.000038          1.0  ...     0.000036  0.000640  0.000039
8       0.000053      0.000053          1.0  ...     0.000051  0.000666  0.000053
9       0.000033      0.000034          1.0  ...     0.000031  0.000558  0.000033
10      0.000025      0.000027          1.0  ...     0.000025  0.000503  0.000026
11      0.000047      0.000048          1.0  ...     0.000045  0.000597  0.000047
12      0.000026      0.000029          1.0  ...     0.000026  0.000612  0.000029
13      0.000037      0.000038          1.0  ...     0.000036  0.000568  0.000038
14      0.000035      0.000037          1.0  ...     0.000035  0.000597  0.000038
15      0.000029      0.000031          1.0  ...     0.000029  0.000510  0.000031

[16 rows x 10 columns]

In [41]:
from cos_similarity import cosine_calc

consolidate_characters['cosine_similarity'] = consolidate_characters.apply(lambda x: cosine_calc(x.iloc[:-1], jay_music_consolidated), axis=1)

In [45]:
consolidate_characters.sort_values('cosine_similarity', ascending=True)

    acousticness  danceability  ...          Character  cosine_similarity
7       0.000037      0.000038  ...      Monica Geller           0.000980
12      0.000026      0.000029  ...       Kelly Kapoor           0.001900
4       0.000038      0.000040  ...  Robin Scherbatsky           0.002294
14      0.000035      0.000037  ...     Joey Tribbiani           0.002782
5       0.000028      0.000030  ...   Marshall Eriksen           0.003331
8       0.000053      0.000053  ...      Chandler Bing           0.003451
1       0.000042      0.000043  ...       Rachel Green           0.003510
11      0.000047      0.000048  ...         Pam Beesly           0.003546
0       0.000039      0.000039  ...          Ted Mosby           0.004062
6       0.000046      0.000047  ...        Jim Halpert           0.004122
13      0.000037      0.000038  ...      Michael Scott           0.004451
2       0.000051      0.000050  ...      Phoebe Buffay           0.004583
9       0.000033      0.000034  ...        Lily Aldrin           0.004949
15      0.000029      0.000031  ...     Barney Stinson           0.007676
10      0.000025      0.000027  ...     Dwight Schrute           0.008130
3       0.000035      0.000036  ...        Ross Geller           0.009560

[16 rows x 12 columns]